@import "../../sass/variables";

.aboutUs {
  height: 555px;
  height: 100%;
  &.grid.wide {
    margin-top: 100px;
  }
  .row {
    height: 100%;
  }
  .image {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 100%;
    width: 100%;
    img {
      position: relative;
      z-index: 10;
      transform: translate(-2%, 12%);
    }
    .circleLayers {
      width: 100%;
      height: 100%;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      display: flex;
      justify-content: center;
      align-items: center;
      $circleSize: 350px;
      .circle {
        position: absolute;
        border-radius: 100rem;
        border: 1px solid $borderColor;
        & > .icon {
          position: absolute;
          width: 50px;
          height: 50px;
          border-radius: 14px;
          border: 1px solid $borderColor;
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: rgb(117, 108, 207, 0.1);
          backdrop-filter: blur(5px);
          &::before {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            border-radius: 100rem;
            background: radial-gradient(
              closest-side,
              currentColor,
              transparent
            );
            opacity: 0.2;
            left: 50%;
            top: 50%;
            transform: translate(-50%, 0%);
          }
        }
        &:nth-child(1) {
          width: $circleSize;
          height: $circleSize;
        }
        &:nth-child(2) {
          width: $circleSize + 100;
          height: $circleSize + 100;
          .icon {
            &:nth-child(1) {
              left: -5%;
              top: 50%;
              color: $pink;
            }
            &:nth-child(2) {
              right: -5%;
              top: 40%;
              color: $lightblue;
            }
            &:nth-child(3) {
              right: 20%;
              bottom: 0;
              color: $purple;
            }
          }
        }
        &:nth-child(3) {
          width: $circleSize + 200;
          height: $circleSize + 200;
          .icon {
            &:nth-child(1) {
              left: 10%;
              top: 10%;
              color: $orange;
            }
            &:nth-child(2) {
              right: 15%;
              top: 5%;
              color: $blue;
            }
            &:nth-child(3) {
              left: 15%;
              bottom: 5%;
              color: $green;
            }
          }
        }
        .icon {
        }
      }
    }
  }
  .content {
    height: 100%;
    position: relative;
    z-index: 10;
    span {
      &:nth-child(1) {
        @include greenToOrange;
      }
    }
    .more {
      color: $yellow;
      text-transform: uppercase;
      font-weight: 600;
      cursor: pointer;
    }
    .heading {
      font-size: $fszHeading;
      margin-bottom: 30px;
    }
    .desc {
      p {
        font-size: 18px;
        font-weight: 500;
        line-height: calc(24 / 18);
        margin-bottom: 20px;
      }
    }
    .more {
    }
  }
}
@media (max-width: 739px) {
  .aboutUs {
    position: relative;
    .image {
      opacity: 0.3;
      img {
        width: 90%;
        height: 90%;
      }
      .circleLayers {
        .circle {
          & > .icon {
            width: 30px;
            height: 30px;
          }
          &:nth-child(1) {
            width: 80%;
            height: 80%;
          }
          &:nth-child(2) {
            width: 90%;
            height: 90%;
          }
          &:nth-child(3) {
            width: 100%;
            height: 100%;
          }
        }
      }
    }
    .content {
      padding-left: 10px;
    }
    .col {
      &:nth-child(2) {
        position: absolute;
        left: 0;
        top: 0;
        transform: translateY(-20%);
      }
    }
  }
}
