@import "../../sass/variables";
.home {
  height: auto;
  position: relative;
  width: 100vw;
  height: 100vh;
  padding-top: 200px;
  .row {
    height: 100%;
  }
  &:before {
    content: "";
    position: absolute;
    left: 50%;
    top: 0;
    padding-top: 200px;
    height: 100%;
    width: 1px;
    background-color: $borderColor;
  }
  .col {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .spotlight {
    background: radial-gradient(closest-side, $rose, $primary);
    filter: blur(80px);
    width: 700px;
    height: 700px;
    border-radius: 100rem;
    position: absolute;
    transform: translate(-25%, -28%);
    opacity: 0.7;
    top: 0;
    left: 0;
    z-index: 15;
  }
  .image {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    margin-top: 100px;
    #masterCard {
      width: 600px;
      height: auto;
      position: relative;
      z-index: 10;
      flex-shrink: 0;
      img {
        transform: scale(1.4);
      }
    }

    .circles {
      width: 580px;
      height: 580px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-60%, -58%) scale(1);
      .circle {
        border-radius: 100rem;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        box-shadow: rgba(0, 0, 0) 0px 0px 15px;
        border: 1px solid rgb(255, 255, 255, 0.6);
        opacity: 0.08;
        &:nth-child(1) {
          background-color: $rose;
          width: 70%;
          height: 70%;
          z-index: 4;
          animation: scale 2s linear infinite;
        }
        &:nth-child(2) {
          width: 85%;
          height: 85%;
          border-radius: 100rem;
          background-color: $purple;
          z-index: 3;
          animation: scale 2s linear 0.5s infinite;
        }
        &:nth-child(3) {
          width: 100%;
          height: 100%;
          border-radius: 100rem;
          background-color: $borderColor;
          z-index: 2;
          animation: scale 2s linear 1s infinite;
        }
        @keyframes scale {
          0% {
            transform: translate(-50%, -50%) scale(1);
          }
          50% {
            transform: translate(-50%, -50%) scale(1.03);
          }
          100% {
            transform: translate(-50%, -50%) scale(1);
          }
        }
      }
    }
  }
  .content {
    width: 100%;
    padding-left: 10px;
    .heading {
      font-size: $fszHeading + 14;
    }
    p {
      margin-top: 35px;
      margin-bottom: 95px;
    }
    .buttons {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 40px;
      position: relative;
      z-index: 100;
      .button {
        &:nth-child(2) {
          background: transparent;
          opacity: 0.7;
        }
      }
    }
  }
}

@media (max-width: 1000px) {
  .home {
    .image {
      #masterCard {
        img {
          transform: translate(-5%, 0%) scale(1.2);
        }
      }
    }
  }
}
@media (max-width: 1000px) {
  .home {
    .image {
      #masterCard {
        img {
          transform: translate(-10%, 0%) scale(1.2);
        }
      }
      .circles {
        transform: translate(-65%, -58%) scale(0.8);
      }
    }
    .content {
      .heading {
        font-size: 40px;
      }
    }
  }
}

@media (max-width: 739px) {
  .home {
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    .spotlight {
      display: none;
    }
    &:before {
      display: none;
    }
    .image {
      margin-top: 0;
      opacity: 0.3;
      #masterCard {
        width: 100%;
        img {
          transform: translate(0%, 0%) scale(1);
        }
      }
      .circles {
        width: 100%;
        height: 100%;
        transform: translate(-50%, -58%) scale(0.9);
      }
    }
    .col {
      &:nth-child(2) {
        position: absolute;
        left: 0;
        top: 0;
        z-index: 10;
        width: 100vw;
      }
    }
  }
}

@media (max-width: 450px) {
  .home {
    .col {
      margin-top: 50px;
    }
    .image {
      width: 100vw;
      img {
        transform: scale(1.5);
      }
    }
    .content {
      .heading {
        font-size: 40px;
      }
      .buttons {
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
      }
    }
  }
}
