@import "../../sass/variables";

.header {
  padding: 20px 0px;
  border-bottom: 1px solid $borderColor;
  position: fixed;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  transition: all 0.2s linear;
  background-color: $primary;
  z-index: 14;
  &.grid.wide {
    &.fixed {
      z-index: 1000;
      max-width: 100vw;
      padding: 20px;
    }
  }
  .planet {
    background-image: url("../../assets/planet.png");
    background-size: cover;
    position: absolute;
    width: 90px;
    height: 90px;
    top: 0;
    right: 20%;
    z-index: 5;
    animation: rotate 10s linear infinite;
  }
  @keyframes rotate {
    to {
      transform: rotate(360deg);
    }
  }
  .row {
    justify-content: space-between;
  }
  .signIn {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
  }
  #signIn {
    background: transparent;
    border: 1px solid $borderColor;
    position: relative;
    span {
      position: relative;
      z-index: 2;
    }
    .arrowRight {
      position: relative;
      font-size: 25px;
      transform: translateY(2px);
      z-index: 2;
      &::before {
        content: "";
        position: absolute;
        height: 50%;
        width: 3px;
        background-color: white;
        transform: translate(150%, -55%);
        right: 0;
        top: 50%;
      }
    }
  }
  .logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    cursor: pointer;
  }
  &Menu {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    position: relative;
    z-index: 20;
    .bars {
      font-size: 30px;
      display: none;
      cursor: pointer;
    }
    ul {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 40px;
      height: 100%;
      li {
        &:first-child {
          display: none;
        }
        a {
          color: white;
          opacity: 0.7;
          position: relative;
          &.active {
            opacity: 1;
            &::before {
              transform: translateY(115%) scaleX(1);
            }
          }
          &:hover {
            opacity: 1;
            &::before {
              transform: translateY(115%) scaleX(1);
            }
          }
          &::before {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 5px;
            background: white;
            transform: translateY(115%) scaleX(0);
            transform-origin: center;
            transition: all 0.2s linear;
          }
        }
      }
    }
  }
}
@media (max-width: 739px) {
  .header {
    .logo {
      padding-left: 5px;
    }
    #signIn {
      display: none;
    }
    .col {
      &:nth-child(3) {
        display: flex;
        position: absolute;
        right: 0;
        top: 0;
        background-color: #fff;
        height: 100vh;
        width: 30vw;
        z-index: 100;
        padding: 15px;
        color: $black;
        transform: translateX(100%);
        transition: all 0.5s ease;
        &.active {
          transform: translateX(0%);
          .bars {
            color: $black;
            transform: translateX(0%);
          }
        }
        .bars {
          display: block;
          transform: translateX(-170%);
          color: white;
        }
      }
    }
    &Menu {
      flex-direction: column;
      align-items: flex-start;
      width: 100%;
      ul {
        flex-direction: column;
        justify-content: flex-start;
        width: 100%;
        li {
          width: 100%;
          &:first-child {
            display: inline-block;
          }
          a {
            display: block;
            width: 100%;
            color: $black;
            text-align: center;
          }
        }
      }
    }
  }
}
@media (max-width: 739px) {
  .header {
    .planet {
      transform: scale(0.7) translateY(-10%);
      animation: rotate 10s linear infinite;
    }
    @keyframes rotate {
      to {
        transform: translateY(-10%) scale(0.7) rotate(360deg);
      }
    }
  }
}
